body {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 65px;
  z-index: 1;
}

.navbox {
  background-color: #be3144;
  box-shadow: 0 5px rgba(22, 22, 22, 0.6);
  text-align: right;
  width: 100%;
  height: 65px;
}

#navbar {
  height: 65px;
}

a {
  color: white;
  text-decoration: none;
}

.navbox a {
  padding: 20px;
  height: 65px;
  padding-bottom: 100%;
}

.navbox a:hover {
  background-color: #45567d;
}

main {
  text-align: center;
}

.welbox {
  width: 100%;
  background: linear-gradient(
    70deg,
    rgb(48, 48, 48) 30%,
    rgb(22, 22, 22) 
  );
  height: 750px;
}

.welbox section {
  position: relative;
  top: 40%;
}

.welbox h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 3.5rem;
  color: white;
  margin: 0;
}

.welbox p {
  font-style: italic;
  font-size: 1.8rem;
  color: crimson;
  margin: 0;
}

.probox {
  background-color: #45567d;
  padding-top: 100px;
}

.probox h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 2.5rem;
  color: white;
  margin: 0;
}

.probox hr {
  width: 650px;
  color: white;
}

ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
}

li {
  margin-bottom: 40px;
  margin-right: 20px;
}

.item {
  border: 1px solid red;
  background-color: grey;
  height: 350px;
  width: 400px;
}

img {
  height: 100%;
  width: 100%;
}

.item a {
  background-color: grey;
}

.conbox {
  background-color: #303841;
}

hr {
  color: red;
}

@media (max-width: 300px) {
}