body {
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  top: 0;
}

div {
  border: 1ps solid red;
  height: 300px;
  width: 300px;
}

img {
  height: 100%;
  width: 100%;
}

@media (max-width: 300px) {
}